#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', )  Hexo.
  a(rel='nofollow', target='_blank', )  Theme
  |  by
  a(rel='nofollow', target='_blank', href="mailto:i@mpengju.com?subject=我是？&body=很高兴认识你")  i@mpengju.com
